* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
body {
   position: relative;
   overflow-x:  hidden;
}
#promo {
    visibility: hidden;
}

/* ----------------------------navbar----------------------- */
.navbar {
    width: 100%;
    height: 10vh;
    background-color: rgba(128, 4, 0, 0.849);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.61);
    position: fixed;
    top: 0vh;
    left: 0;
    z-index: 100;
    animation: navbar-animation 0.9s 0.5s forwards;
}
/* @keyframes navbar-animation {
    0% {
        top: -10vh;
    }
    100% {
        top: 0;
    }
} */
.div-svg {
    width: 60px;
    height: 60px;
    display: flex;
    position: relative;
    
}
#logo-1 {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100px;
    height: 100px;
    font-weight: 900;
   
}
.ul-1, .ul-2 {
    height: 60px;
    display: flex;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.ul-1 li, .ul-2 li {
    
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;;
}
a[href="#servicii"] {
    margin-left: 100px;
}
a[href="#contact"] {
    margin-left: 100px;
}
.navbar a {
    color:#fdfdfdec;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    /* border: 1px solid black; */
    border-radius: 3px;
    padding: 5px 15px;
    transition: all 0.4s;
}
.navbar a:hover {
    background-color: #cccccc50;
    color:#000;
}

/* ----------------------------section-1 ----------------------------------- */

.section-1 {
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    position: relative;
    z-index: 2;
    background-image: url(./asets-stela/background-desktop.jpeg);
    display: flex;
    position: relative;
    
    border-bottom: 1px solid rgb(48, 48, 48);
}
.section-1 .img-descktop {
   width: 100%;
   height: 100vh;
   box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.767);
   position: relative;
   z-index: -10;
   
}
.img-mobile {
    display: none;
}
.titlu-subtitlu {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding: 50px 0 50px 160px; */
    margin-left: 30px;
}
.sectiune-dreapta {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sectiune-dreapta img {
    width: 85%;
}
.section-1 p {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald';
}
h1 {
    display: flex;
    flex-direction: column;
    font-size: 38px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    
}
.section-1 span {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 42px;
    text-shadow: 2px 2px 2px rgb(223, 223, 223);
    text-shadow: 0.5px 0.5px 0.5px white, 2px 2px 2px black;
}
.section-1 a .contacteaza-ma {
    align-self:flex-start !important;
}
.section-1 #sm-icons {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-self:center;
    margin-right: 50px;
    /* background-color: #991519; */
}
.section-1 #sm-icons i {
    font-size: 50px;
    color: rgb(100, 5, 5);
    margin: 20px;
    text-shadow: 1px 1px 1px white,
    2px 2px 2px rgb(0, 0, 0);
}
.section-1 #sm-icons i:hover {
    color: rgb(48, 0, 0);
    transform: scale(1.2);
    
}



/* -----------------------section-2 ----------------------- */

.section-2 {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px 15px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.767);
    position: relative;
    z-index: 5;
}
.container-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center ;
    margin:auto;
    text-align: center;
    background-color: white;
    padding: 30px;
    background-color: white;
}
.container-1 h2 {
    font-family: 'Oswald', sans-serif;
    width: 60%;
    margin: 10px auto;
    margin-bottom: 40px;
    font-size: 38px;
    font-weight: 500;
    color: #353535;
    /* text-shadow: 1px 1px 1px white, 2px 2px 2px black; */
}
.section-2-subtext {
    width: 75%;
    font-size: 22px;
    margin: auto;
    margin-bottom: 25px;
    color: #444444;
}
/* .section-2 a {
    margin: 0 !important;
} */

.contacteaza-ma {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 280px;
    background-color: rgb(126, 4, 0);
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.808);
    color: white;
    padding: 15px 50px;
    margin-left: auto;
    margin-right: auto;
    align-self: center ;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    position: relative;
    overflow: hidden;
    outline: none;
    border: none;
}
.contacteaza-ma::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: linear-gradient(to right, transparent, white, transparent);
    transform: skewX(-30deg);
    transition: left 0.5s;
    z-index: 4;
}
.contacteaza-ma:hover::before {
   left: 100%;
}
.container-2 {
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    position: relative;
    background-color: transparent;
    border: 1px solid rgb(102, 102, 102);
}
.container-2 .testimoniale {
    width: 30%;
    margin: auto;
    
}
.container-2 .testimoniale img {
   border: 2px solid #c2c2c2; 
   border-radius: 8px;
   width: 100%;
   margin: 0 auto;
   box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.685);
   transition: transform 0.3s;
}
.container-2 .testimoniale img:hover {
    transform: scale(1.1);
}
.container-2 span {
    position: absolute;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 20px;
    top: -18px;
    left: 50px;
    z-index: 6;
}
.section-2 h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
    font-weight: 600;
    color: #860c10;
    /* text-shadow: 1px 1px 1px white, 2px 2px 2px black; */
}
.section-2 .last-p {
    font-family: 'Oswald';
    font-size: 22px;
    font-weight: 400;
    width: 70%;
    color: rgb(78, 78, 78);
    margin: auto;
    padding: 15px 30px;
    text-align: center;
    box-shadow: 4px 4px 10px rgb(73, 73, 73);
}
.section-2 #section-2-contacteaza-ma {
    display: block;
    align-self: center;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}
.section-2 a .contacteaza-ma {
    margin: 30px;
}

/* -------------------section-3---------------------------- */

.section-3 {
    background-color: #f7f7f7;
    padding: 15px;
    position: relative;
    z-index: 2;
}
.section-3 h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 50px 15px 15px 15px;
    text-shadow: 1px 1px 1px white, 2px 2px 2px black;
    font-size: 38px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.829);
}
.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.social-media-text {
    width: 50%;
    color: rgb(54, 54, 54);
    padding: 10px;

}
.social-media-text ul li {
    list-style-type: disc;
}
.div-poza {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3 h3 {
    font-family: 'Oswald', sans-serif;
    width: 80%;
    margin: 10px auto;
    font-size: 26px;
    text-align: center;
    color: #690303;
}
.social-media-text p {
    font-size: 18px;
    color: rgb(110, 110, 110);
}
.social-media-text li {
    font-size: 16px;
    list-style:circle;
    margin-left: 60px;
    color: rgb(110, 110, 110);
}
.div-poza img {
    width: 80%;
    background-color: #f7f7f7;
    border-radius: 12px;
    box-shadow: 10px 10px 20px #b72428;
    
}
.section-3  b {
    color: #b72428;
}
.copywriting {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.copywriting-text {
    width: 50%;
    font-size: 18px;
    color: rgb(110, 110, 110);
    padding: 10px;
    padding: 40px 40px ;
}
.grafica-publicitara {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
}
.grafica-publicitara-text {
    width: 50%;
    color: rgb(54, 54, 54);
    padding: 10px;
}
.grafica-publicitara p {
    font-size: 18px;
    color: rgb(110, 110, 110);
    margin-left: 20px;
}
.section-3 h4 {
    color: rgb(56, 56, 56);
    text-align: center;
    font-size: 25px;
    position: absolute;
    background-color: #fff;
    padding: 4px 12px;
    z-index: 8;
    top: -20px;
}
.div-testimoniale-2 {
    position: relative;
    border: 1px solid rgb(75, 75, 75);
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
   
}
.testimoniale-img {
    margin: auto;
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.div-testimoniale-2 img {
    width: 30%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.904);
}
.section-3 .preturi {
    font-size: 24px;
    padding: 20px 20px;
    margin: 20px auto;
    margin-bottom: 0;
    width: 80%;
    text-align: center;
    color: black;
    border:1px solid #690303;
}
#serviciile-mele {
    font-size: 22px;
    width: fit-content;
    padding: 15px;
    margin: 12px auto;
    text-align: left;
}
#serviciile-mele b {
    font-size: 28px;
    margin-bottom: 25px; 
    color: #690303;
}
.div-testimoniale-2 img:hover {
    transform: scale(1.05);
}
.section-3 P {
    font-size: 18px;
    color: rgb(110, 110, 110);
}

/* ---------------------section-4 ------------------------- */

.section-4 {
    display: flex;
    flex-direction: column;
   
    height: auto;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.767);
}
.section-4 .contact-3 {
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,3,28,1) 0%, rgba(99,1,1,1) 0%, rgba(219,219,219,1) 100%);
}
.section-4 .contact-3 b{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-size: 25px;
}
.section-4 b {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #b72428;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
}
.section-4 p {
   
    width: 70%;
    font-size:20px;
    color: rgb(51, 51, 51);
    margin: 20px auto 20px;
    text-align: center;
    
}
.section-4 a {
    display: flex;
    justify-content: center;
    margin: 0 !important;
}
.section-4 a .contacteaza-ma  {
  margin: 20px auto;
 
}

/* -----------------------section-5---------------------------- */

.section-5 {
    padding: 15px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    background-color: rgb(255, 255, 255);
}
.section-5 h2 {
    width: fit-content;
    padding: 2px 40px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.418);
    color: #353535;
    margin: 60px auto 15px;
    text-shadow: 1px 1px 1px white, 2px 2px 2px black;
    font-size: 35px;
    font-weight: 600;
}
.content-1 {
    width: 90%;
    margin: auto;
    display: flex;
}
.content-1 img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 16px 16px 16px rgba(48, 48, 48, 0.836);
}
.content p {
    width: 75%;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    color: rgb(136, 14, 14);
    /* text-shadow: 1px 1px 2px black; */
    font-weight: 400;
}
.content {
    width: 60%;
    margin: 25px ;
    box-shadow: 16px 16px 16px rgba(48, 48, 48, 0.836);
    border-radius: 5px;
    background-color: #ffffff;
}
.content-8 {
    width: 70%;
    font-size: 22px;
    padding: 15px;
    margin: 30px auto;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    
}
.content-8 a {
    color: #b72428;
    font-weight: bold;
}
.section-5 .content:nth-child(even) {
    margin-left: auto;
  
}
.section-5 .content:hover {
    box-shadow: 16px 16px 8px rgba(0, 0, 0, 0.678);
   
}
.section-5 .content-8 {
    width: 70%;
    box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.712);
    background-color: rgb(218, 218, 218);
}

/* ------------------footer-------------------------------------- */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(139, 139, 139);
    position: relative;
    z-index: 2;
}
footer h3 {
    font-size: 42px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px white,
    2px 2px 2px black;
}
.contact-formular {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
}
footer .contact {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
footer .contact span {
    font-size: 24px;
    margin-bottom: 12px;
    color: black;
  
}
footer .formular {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
footer form {
    display: flex;
    flex-direction: column;
}
footer form input {
    width: 280px;
    height: 45px;
    margin-bottom: 20px;
    padding: 0 15px;
    background-color: rgb(87, 87, 87);
    outline: none;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 18px;
}
footer form button {
    width: 280px;
    height: 60px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(to bottom,#a1171c, rgb(61, 1, 1));
    outline: none;
    border: 1px solid white;
    box-shadow: 2px 2px 2px rgb(0, 0, 0),
    4px 4px 2px black;
    cursor: pointer;
}
footer form button:hover {
    transform: translateY(-1px) translateX(-1px);
    box-shadow: 2px 2px 2px rgb(0, 0, 0),
    8px 8px 2px black;
}
footer form button:focus {
    transform: translateY(0px) translateX(0px);
    box-shadow: 2px 2px 2px rgb(0, 0, 0),
    4px 4px 2px black;
}
footer .icons {
    margin: auto;
}
footer .icons i {
    font-size: 50px;
    color: rgb(100, 5, 5);
    margin: 20px;
    text-shadow: 2px 2px 2px white,
    4px 4px 2px rgb(0, 0, 0);
}
footer .icons i:hover {
    color: rgb(19, 19, 19);
    transform: scale(1.2);
}
footer .logo {
    width: 90px;
    height: 90px;
   
    border-radius: 8px;
   
}
footer .logo img {
    width: 100%;
    color: black;
}
footer input::placeholder {
    font-size: 18px;
    color: white;
    letter-spacing: 0.5px;
}
.copyright {
    width: 100%;
    border: 1px splid white;
    background-color: rgb(43, 43, 43);
}
.copyright p {
    
    font-size: 16px;
    letter-spacing: 1.5px;
    width: 100%;
    text-align: center;
    border-top: 1px splid white;
    color: white;
    padding: 20px 0;
    font-weight: 100;
}

/* -------------------media-query------------------------ */

@media (max-width: 1100px) {
    
    .background-mobile {
        /* display:none; */
        position: absolute;
        top: 130px;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 40vh;
        background-image: url(img-mobile-3.jpeg);
        background-size:cover;
        background-position-y: center;
        background-position-x: center;
    }
    
    .section-1 {
        height: fit-content;
        background-size: cover;
        border-bottom: 1px solid rgb(107, 107, 107);
        flex-direction: column;
        align-items: center;
    }
    .section-1 .titlu-subtitlu {
        margin-top: 15vh;
        width: 90%;
        margin-left: 0;
    }
    .section-1 .sectiune-dreapta {
        width: 80%;
        margin-top: -40px;
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .section-1 #sm-icons {
        position: absolute;
        right: 10px;
        bottom: 170px;
        margin-right: 20px;
    }
    .section-1 p {
        margin: 25px 0;
    }
    .section-1 #sm2-icons i {
        font-size: 28px;
    }
    .section-1 h1 {
        width: 100%;
        height: 80px;
        background-color: rgb(167, 167, 167);
        position: absolute;
        margin: 0;
        left: 0;
        top: 10vh;
        z-index: 2;
        perspective: 800px;
    }
     
   
    /* --------------------------section-1------------------------ */
    .section-1 {
        position: relative;
    }
    .section-1 h1 {
        position: absolute;
        top: 0;
        perspective: 800px;
    }
    h1 span {
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 45px;
        text-align: center;
        position:absolute;
        letter-spacing: 0.5px;
        top: 5px;
        align-self: center;
        transform: scale(0);
    }
    @keyframes headingAnimation {
        0% {
            opacity: 0;
                    
        }
        5% {
            opacity: 1;
            transform: scale(1);
        }
        33.3% {
            opacity: 1;
            transform: scale(1);
        }
        38.3% {
            opacity: 0;
            transform: scale(0);
        }
        100% {
            opacity: 0;
            transform: scale(0);
        }
    }
    .heading-1 {
        animation:  headingAnimation 12s infinite;
    }
    .heading-2 {
        animation:  headingAnimation 12s 4s infinite;
    }
    .heading-3 {
        animation:  headingAnimation 12s 8s infinite;
    }
    .section-2 .container-2 .testimoniale {
        width: 300px;
        margin: 25px;
    }
    .section-2 .container-2 {
        flex-wrap: wrap;
        padding: 3px;
    }
    .section-2 .container-1 h2 {
        font-size: 24px;
        width: 92%;
        color: #690303;
    }
    .section-2 p {
        width: 90%;
    }
    .section-2 .last-p {
        width: 100%;
        margin: 0;
    }
    .section-3 h2 {
        color: black;
    }
    .div-poza img {
        margin-bottom: 20px;
        box-shadow: 4px 4px 8px #b72428;
    }
    .section-3 h2 {
        text-shadow: none;
    }
    .section-3 .social-media {
        flex-direction: column-reverse;
    }
    .social-media-poza {
        width: 60%;
        margin: auto;
    }
    .social-media-text {
        width: 90%;
        margin: auto;
    }
    .section-3 .copywriting {
        flex-direction: column;
    }
    .copywriting-poza {
        width: 60%;
        margin: auto;
    }
    .copywriting-text {
        width: 90%;
        margin: auto;
    }
    .section-3 .grafica-publicitara {
        flex-direction: column-reverse;
    }
    .grafica-publicitara-poza {
        width: 60%;
        margin: auto;
    }
    .grafica-publicitara-text {
        width: 90%;
        margin: auto;
    }
    .div-testimoniale-2 {
        width: 90%;
    }
    .section-5 h2 {
        text-shadow: none;
    }
    .section-5 .content-1 {
        display: flex;
        flex-direction: column;
    } 
    .section-5 .content-1 img {
        align-self: center;
        margin: 15px;
        box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.616);
    }
    .section-5 .content-1 {
        width: 100%;
    }
    .section-5 .content {
        width: 90%;
    }



}
@media (max-width: 800px) {
    html {
        font-size: 80%;
    }
    #logo-1 {
        display: none;
    }
    .navbar {
        justify-content: center;
    }
    .navbar a {
        font-size: 22px;
        font-weight: 400;
    }
    a[href="#servicii"] {
        margin-left: 50px;
    }
    a[href="#contact"] {
        margin-left: 50px;
    }
    .section-1 h1 span {
        font-size: 35px;
        top: 8px;
    }
    .section-2 h3 {
        font-size: 22px;
    }
    .section-2 .last-p {
        width: 95%;
        font-size: 18px;
    }
    .section-3 h4 {
        font-size: 20px;
        top: -18px;
    }
    .section-5 {
        background-color: rgba(255, 255, 255, 0.979);
    }
    .section-5 .content  {
        width: 100%;
        margin: 12px auto;
    }
   
    footer form {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    form button {
        position: static;
        outline: none;
        width: 95%;
        align-self: center;
        border: none;
        border-radius: 10px;
        margin: 5px 0;
        background-color: #660e11;
    }
    .contact-formular {
        flex-direction: column-reverse;
        align-items: center;
    }
    footer .formular {
        width: 100%;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid white;
        align-items: center;
        padding: 20px;
    }
    footer .contact {
        align-items: center;
    }

    footer .contact {
        margin: 0;
    }
    footer .formular input {
        width: 300px;
    }
}
@media (max-width: 600px) {
    html {
        font-size: 60%;
    }
    .navbar a {
        font-size: 20px;
    }
    a[href="#servicii"] {
        margin-left: 10px;
    }
    a[href="#contact"] {
        margin-left: 10px;
    }
    .section-1 h1 span {
        font-size: 25px;
        top: 15px;
    }
    .section-1 #sm-icons {
        position: absolute;
        margin-right: 5px;
        right: 0px;
        bottom: 170px;
    }
    .section-1 #sm-icons i {
        font-size: 24px;
    }
    .section-1 .sectiune-dreapta {
        width: 100%;
        margin-right: -15px;
    }
    .section-2 h2 {
        width: 90%;
        font-weight: 800;
        font-size: 22px;
        margin-bottom: 25px;
    }
    .section-2 p {
        font-size: 18px;
        width: 100%;
        margin-bottom: 25px;
       
    }
    .section-2 .last-p {
        width: 100%;
        margin: 0;
        padding: 15px 10px;
        font-size: 16px;
    }
    .container-2 {
        margin-top: 40px;
    }
    .social-media-text {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .social-media-text ul li {
        margin-left: 25px !important;
    }
    .copywriting-text {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .grafica-publicitara-text {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .testimoniale-img {
        flex-direction: column;
        align-items: center;
       
    }
    .testimoniale-img img {
        width: 60%;
    }
   
    .section-4 p {
        width: 90%;
        font-size: 16px;
    }
    .section-5 .content  {
        width: 100%;
        margin: 12px auto;
    }
    .section-5 h2 {
        color: black;
    }
    .contact-3 b {
        font-size: 20px;
    }
    .section-5 .content p {
         width: 100%;
    }
  
    footer .contact-formular {
        padding-top: 0;
    }
    footer .formular {
        margin-top: 0;
    }   
  
}
@media (max-width: 500px) {
    .section-1 p {
        font-size: 20px;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .contacteaza-ma {
        font-size: 18px;
        padding: 14px 50px;
    }
  
    .navbar {
        justify-content: center;
    }
   
    .navbar a {
        font-size: 20px;
        padding: 0 5px;
        margin: 12px;
        font-weight: 300;
    }
    a[href="#servicii"] {
        margin-left: 0px;
    }
    a[href="#contact"] {
        margin-right: 5px !important;
    }
    #logo-1 {
        display: none;
        width: 40px;
        top: -10px;
        transform: translateX(-13px)
    }
    .div-svg {
        display: none;
        visibility: hidden;

    }
    .section-1 {
        height: 90vh;
    }
    .section-1 h1 {
        width: 100%;
        
    }
    
    .section-1 h1 span {
        width: 90%;
        font-size: 28px;
        font-weight: 900;
        margin: auto;
        letter-spacing: 0.5px;
        top: 15px;
    }
    .section-1 p {
        width: 100%;
        font-size: 18px;
        font-weight: 900;
    }
    .section-1 .titlu-subtitlu {
        margin-top: 10vh;
    }
    .section-1 .sectiune-dreapta {
        width: 90%;
        margin-top: -10px;
    }
    .section-1 #sm-icons {
        padding: 0;
        margin-right: 0;
        bottom: 75px;
        right: 5px;
    }
    .section-1 #sm-icons i {
        font-size: 30px;
        margin:12px;
    }
    .section-2 .container-1 {
        width: 100%;
        padding: 10px;
    }
    .section-2 h2 {
        width: 100%;
        font-size: 22px;
        font-weight: 800;
        color: #b72428;
    }
    .section-2 p {
        font-size: 18px;
        width: 100%;
    }
    .section-2 .contacteaza-ma {
        margin-bottom: 25px;
    }
    
    .section .container-2 {
        margin-top: 40px;
        padding: 6px;
    }
    .section-3 h2 {
        font-size: 24px;
        margin-top: 60px;
    }
    .copywriting{
        margin-top: 10px;
    }
    .grafica-publicitara {
        margin-top: 10px;
    }
    #servicii  h3 {
        font-size: 24px;
        width: 100%;
        margin-top: 30px;
        padding: 0;
    }
    .social-media-text {
        padding: 0;
        margin: 0;
    }
    .copywriting-text {
        padding: 0;
        margin: 0;
    }
    .grafica-publicitara-text {
        padding: 0;
        margin: 0;
    }
    .contact-3 b {
        font-size: 18px;
    }
    .section-4 .contact-3 b {
        margin-bottom: 15px;
    }
    .section-4 p {
        font-size: 18px;
    }
    .section-3 .div-testimoniale-2 {
        border: none;
        position: relative;
        padding: 5px;
    }
    .section-3 .div-testimoniale-2 h4 {
        font-size: 18px;
        top: -30px;
    }
    .section-3 {
        height: auto;
    }
    .section-3 .testimoniale-img {
       position:relative;
       display: flex;
       flex-direction: column;
        width: 75%;
       margin: 6px;
    }
    .section-3 .preturi {
        width:95%;
    }
    .testimoniale-img img {
        margin-top: 32px;
        width: 100%;
        box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.774);
    }
    .section-4 .contacteaza-ma a {
        margin-bottom: 30px;
    }
    .section-5 h2 {
        font-size: 24px;
        margin-top: 60px;
        margin-bottom: 0px;
    }
    .section-5 .content  {
        width: 100%;
        margin: 12px auto;
    }
    .section-5
    .section-5 .content p {
        width: 100%;
    }
    .section-5 .content-8  {
        width: 100%;
        margin: 3px;
    }
    footer .formular {
        padding: 0;
    }
    footer button {
        margin-bottom: 25px;
    }
    footer .contact span {
        margin: 2px;
    }
    footer .logo {
        margin-top: 6px
    }
  
    
      
}

@media (max-width: 340px) {
    .navbar a {
        font-size: 16px;
    }
    .section-1 h1 span {
        font-size: 22px;
    }
}
@media  (max-width: 320px){ 
    .navbar a {
        font-size: 14px;
    }
}